body{
    background: #232323;
}

.container{
    /*border: solid white 2px;*/
    width: 80%;
    height: 100%;
    background: #232323;
    /*margin: auto auto;*/
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.sub_div {
    border:5px solid white ;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #232323;
    transform: translate(-50%);
    height: 100px;
    width: 100%;
}

.left {
    width: 50%;
    background: #28a745;
    border-radius: 30px;
    font-size: 25px;
    margin: 10px 10px 10px auto;
    word-break: break-word;
    text-align: left;
    padding: 10px;
}

.right {
    /*min-width: 200px;*/
    width: 50%;
    background: #007bff;
    border-radius: 30px;
    margin: 10px auto 10px 10px;
    font-size: 25px;
    word-break: break-word;
    text-align: left;
    padding: 10px;
}

li {
    list-style: none;
}

textarea {
    width: 80%;
    height: 80%;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 10px;
    border: none;
}

.img-div {
    border: solid white 2px;
    border-radius: 30px;
    padding: 5px;
    margin: 10px;
}

#send {
    justify-content: center;
    width: 90%;
    height: 90%;
}

